html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0 0 10px 3px rgb(192, 192, 192);
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
}

form h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 500;
}

form div {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

form div::after {
    position: absolute;
    content: "";
    top: 107%;
    left: 3px;
    color: red;
    font-size: 14px;
}

form label {
    display: inline-block;
    color: gray;
    padding: 5px 0;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 1px 1px rgb(212, 212, 212);
    outline: none;
    font-size: 15px;
    /* transition: 0.2s; */
}

form input:focus {
    outline: 2px solid #3498db;
}

form > input {
    margin: 20px 0 0;
    color: white;
    background-color: #3498db;
    cursor: pointer;
}

form > input:hover {
    background-color: #2f89c5;
}

.user-error::after {
    content: "Username must be at least 3 characters";
}

.email-error::after {
    content: "Email is not valid";
}

.pass-error::after {
    content: "Password must be at least 6 characters";
}

.empty-pass::after {
    content: "Please confirm your password";
}

.pass-match::after {
    content: "Passwords don't match";
}

.green {
    outline: 2px solid rgb(41, 207, 41) !important;
}

.red {
    outline: 2px solid red !important;
}

@media (width < 769px) {
    div::after {
        font-size: 12px !important;
    }

    h1 {
        font-size: 1.6rem;
    }

    form {
        width: 80%;
    }
}

@media (min-width: 769px) {
    form {
        width: 500px;
    }
}